{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Amino acid quiz
{% endblock %}

{% block content %}

    <img src="{% static image_path %}"/>

    <br><br>

    <input type="text" id="solution"/>

    <br><br>

    <button id="next" style="display: none;" class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>

{% endblock %}

{% block scripts %}

<script>
var amino = "{{amino_acid}}";

function showButton(){
    document.getElementById("next").style.display = "inline";
}

function hideButton(){
    document.getElementById("next").style.display = "none";
}

window.setInterval(function(){
    value = document.getElementById("solution").value;
    if (value == amino){
        showButton();
    } else{
        hideButton();
    }
}, 100)

$(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});

</script>

{% endblock %}